<app-header subtitle="Profile" subtitleIcon="person-circle-outline"></app-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Hi {{ user.firstName }} {{ user.lastName }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="description">
        <ion-chip>
          <ion-avatar>
            <img [src]="user.profileImageUrl">
          </ion-avatar>
          <ion-label>{{ user.username }}</ion-label>
        </ion-chip>
        <p>
          Rating: <!-- TODO:: MAKE A RATING SYSTEM? -->
          <br>
          Rank: <!-- TODO:: MAKE A RANKING SYSTEM? -->
        </p>
      </div>
      <ion-toggle #toggleDarkMode (ngModelChange)="toggleDarkTheme()" id="themeToggle" [(ngModel)]="isDarkMode"></ion-toggle>
      <ion-button class="pull-right" color="light" size="small" (click)="logOut()">Log out</ion-button>
      <ion-button class="pull-right" color="light" size="small" (click)="editProfile()">Edit Profile</ion-button>
    </ion-card-content>
  </ion-card>
  
  
  <ion-button expand="full" (click)="createNewContract()">
    <ion-icon slot="start" name="help-buoy-outline"></ion-icon> Create new inquiry
  </ion-button>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selected">
    <ion-segment-button value="contracts">
      <ion-label >Contracts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="offers">
      <ion-label>Your Offers</ion-label>
    </ion-segment-button>
  </ion-segment>

  <section *ngIf="selected === 'contracts'">
    <ion-card *ngFor="let contract of contracts">
      <ion-item>
        <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
        <ion-label>{{ contract.subject }}</ion-label>
        <ion-button slot="end" [routerLink]="['/marketboard/contract']" [queryParams]="{ id: contract.id }">View</ion-button>
      </ion-item>
      <ion-card-content>
        {{ contract.body }}
        <p class="pull-right">{{ timeFromNow(contract.createdDate) }}</p>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="selected === 'offers'">
    <ion-card *ngFor="let offer of offers">
      <ion-item>
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>{{ offer.amount }} | {{ offer.amountType }}</ion-label>
        <ion-button slot="end" [routerLink]="['/marketboard/contract']" [queryParams]="{ id: offer.contract.id }">View Contract</ion-button>
      </ion-item>
    
      <ion-card-content>
        <h4>{{ offer.contract.subject }}</h4>
        {{ offer.comment }}
        <!-- <ion-button slot="end">Edit</ion-button> -->
        <p class="pull-right">{{ timeFromNow(offer.createdDate) }}</p>
      </ion-card-content>
    </ion-card>

  </section>

</ion-content>
