ion-card {
    margin: 8px;
    padding: 8px;
}

h2 {
    margin-left: 34px;
}

.description {
    display: flex;

    p {
        margin-left: 21px;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin: 8px;
}
