<app-header subtitle="Notifications" subtitleIcon="chatbubbles-outline"></app-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://robohash.org/shahidfoy?set=set2">
      </ion-avatar>
      <ion-label>someone sent you a message</ion-label>
      <ion-button>message</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://robohash.org/shahidfoy?set=set3">
      </ion-avatar>
      <ion-label>tester sent you a message</ion-label>
      <ion-button>message</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

