<app-header subtitle="Contract" subtitleIcon="person-circle-outline"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>
          <ng-container *ngIf="contractUser | async as cUser">
            <ion-chip>
                <ion-avatar>
                  <img [src]="cUser.profileImageUrl">
                </ion-avatar>
                <ion-label>{{ cUser.username }}</ion-label>
            </ion-chip>
          </ng-container>
          {{ contract.subject }}
        </h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ contract.body }}</p>
      <p>Leagal Agreement: <br> {{ contract.legalAgreement }}</p>
      <p class="pull-right">{{ timeFromNow(contract.createdDate) }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="makeNewOffer()">Make An Offer</ion-button>
  <section>
    <h2>Current Offers</h2>
    <p *ngIf="offers">Total: {{ offers.length }}</p>
  </section>

  <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>
        <h4>
          <ion-chip>
            <ion-avatar>
              <img [src]="offer.userProfileImage">
            </ion-avatar>
            <ion-label>{{ offer.username }}</ion-label>
          </ion-chip>
          {{ offer.amount }} | {{ offer.amountType }}
        </h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ offer.comment }}</p>
      <p class="pull-right">{{ timeFromNow(offer.createdDate) }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
