<app-header subtitle="Contract" subtitleIcon="person-circle-outline"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>
          <ng-container *ngIf="contractUser | async as cUser">
            <ion-chip>
                <ion-avatar>
                  <img [src]="cUser.profileImageUrl">
                </ion-avatar>
                <ion-label>{{ cUser.username }}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="!contract.seekingLowestOffer" color="success">
              <ion-icon name="caret-up-circle-outline"></ion-icon>
              <ion-label>seeking highest bid</ion-label>
            </ion-chip>
            <ion-chip *ngIf="contract.seekingLowestOffer" color="danger">
              <ion-icon name="caret-down-circle-outline"></ion-icon>
              <ion-label>seeking lowest bid</ion-label>
            </ion-chip>
          </ng-container>
          <br> {{ contract.subject }}
        </h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        {{ contract.body }}
        <ng-container *ngIf="contractUser | async as cUser">
          <a *ngIf="cUser.id === user.id" (click)="editContract(contract)">
            <ion-icon name="create-outline"></ion-icon>
          </a>
        </ng-container>
      </p>
      <p>Leagal Agreement: <br> {{ contract.legalAgreement }}</p>
      <p class="pull-right">{{ timeFromNow(contract.lastUpdatedDate) }}</p>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="contractUser | async as cUser">
    <ion-button *ngIf="user.username !== cUser.username && contract.acceptedOffer === null" expand="block" (click)="makeNewOffer()">Make An Offer</ion-button>
  </ng-container>
  <section>
    <h2>Current Offers</h2>
    <p *ngIf="offers">Total: {{ offers.length }}</p>
  </section>

  <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>
        <h4>
          <ion-chip>
            <ion-avatar>
              <img [src]="offer.userProfileImage">
            </ion-avatar>
            <ion-label>{{ offer.username }}</ion-label>
          </ion-chip>
          {{ offer.amount }} | {{ offer.amountType }}
        </h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ offer.comment }}</p>
      <p class="pull-right">{{ timeFromNow(offer.createdDate) }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
