<app-header subtitle="Notifications" subtitleIcon="chatbubbles-outline"></app-header>
<ion-content>

  <div *ngIf="0 >= notifications.length" class="no-notifications">
    <p>No new notifications yet..</p>
  </div>

  <ion-list *ngFor="let notification of notifications">
    <ion-item-sliding>
      <ion-item (click)="markRead(notification.id)"
        [routerLink]="['/marketboard/contract']"
        [queryParams]="{ id: notification.contract.id }">
        <ion-avatar class="profile-image">
          <img [src]="getUserProfileImage(notification.offer.userId)">
        </ion-avatar>
        <ion-label>
          <h4>
            <span *ngIf="!notification.markedRead">✉️</span>
            {{ notification.contract.subject }}
          </h4>
          <p>{{ notification.message }}</p>
          <p>{{ timeFromNow(notification.createdDate) }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="markRead(notification.id)">Mark <br> Read</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="deleteAllNotifications()"><ion-icon name="trash-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="markReadAllNotifications()"><ion-icon name="checkmark-done-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
