<ion-header>
  <ion-toolbar> 
    <ion-title>
      New Contract
      <div class="close" (click)="dismiss()">
        x
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="form-info">Use this form to create a new inquiry for your item.  
    Once the form is submitted a bidding contract is created for your item for others to view and bid on.</p>

  <form #newContractForm="ngForm" (ngSubmit)="createNewContract(newContractForm.value)">
    
    <ion-item>
      <ion-label>Type </ion-label>
      <ion-select name="type" required [(ngModel)]="typeInput" (ngModelChange)="changeSubCategory()">
        <div *ngFor="let category of categories">
          <ion-select-option [value]="category.name">{{ category.name | titlecase }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="subcategories.length > 0">
      <p>
        <span>Select Tag: </span>
        <ion-chip
          *ngFor="let subcategory of subcategories"
          (click)="isSelected(subcategory)"
          [color]="subcategory.isSelected ? 'primary' : 'default'">
          <ion-label>{{ subcategory.name | titlecase }}</ion-label>
        </ion-chip>
      </p>

    </ion-item>

    <ion-item>
      <ion-label>Subject </ion-label>
      <ion-input type="text" name="subject" required [(ngModel)]="subjectInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Body </ion-label>
      <ion-textarea type="text" name="body" rows="6" cols="20" required [(ngModel)]="bodyInput"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-radio-group name="seekingLowestOffer" value="bid-type" required [(ngModel)]="seekingLowestOfferInput">
          <ion-list-header>
            <ion-label>Seeking Bid Type?</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Lowest</ion-label>
            <ion-radio slot="start" value="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Highest</ion-label>
            <ion-radio slot="start" value="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-label>Legal Agreement </ion-label>
      <ion-input type="text" name="legalAgreement" [(ngModel)]="legalAgreementInput"></ion-input>
    </ion-item>

    <ion-item>
      <!-- TODO:: ADD FEATURE TO UPLOAD CONTRACT RELATED IMAGES -->
      Upload contract related images
    </ion-item>

    <ion-button
      [disabled]="newContractForm.invalid || isLoading"
      type="submit"
      name="button"
      expand="block">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading && !contract.id">Create</span>
      <span *ngIf="!isLoading && contract.id">Update</span>
    </ion-button>
  </form>
</ion-content>
