<ion-header>
  <ion-toolbar> 
    <ion-title>
      New Offer
      <div class="close" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="form-info">Use this form to create a new bid offer on this item.  
    Once the form is submitted a new bid will be created and the owner of this item will be notified.</p>

  <form #newOfferForm="ngForm" (ngSubmit)="createNewOffer(newOfferForm.value)">
    <ion-item>
      <ion-label>Amount Type</ion-label>
      <ion-input type="text" name="amountType" required ngModel #amountTypeInput="ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Amount </ion-label>
      <ion-input type="number" name="amount" required ngModel #amountInput="ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Comment: </ion-label>
      <ion-textarea type="text" name="comment" required ngModel #commentInput="ngModel"></ion-textarea>
    </ion-item>

    <ion-button
      [disabled]="newOfferForm.invalid || isLoading"
      type="submit"
      name="button"
      expand="block">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Create</span>
    </ion-button>
  </form>

  <!-- <div class="offer-button-group">
    <ion-button class="pull-right" size="small" color="light" (click)="dismiss()">Close</ion-button>
  </div> -->
</ion-content>