<app-header subtitle="Inquiries" subtitleIcon="help-buoy-outline"></app-header>
<ion-content>
  <ion-card *ngFor="let contract of contracts">
    <ion-item>
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
      <ion-label>     
        <ion-chip>
          <ion-avatar>
            <img [src]="getUserProfileImage(contract.contracteeId)">
          </ion-avatar>
          <ion-label>{{ getUsername(contract.contracteeId) }}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button [routerLink]="['/marketboard/contract']" [queryParams]="{ id: contract.id }" slot="end">
        View
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <h2>{{ contract.subject }}
        <p>{{ contract.body }}</p>
      </h2>
      <ion-chip>
        <ion-label>Best Offer: {{ contract.bestOffer.amount }} | {{ contract.bestOffer.amountType }}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="!contract.seekingLowestOffer" color="success">
        <ion-icon name="caret-up-circle-outline"></ion-icon>
        <ion-label>seeking highest bid</ion-label>
      </ion-chip>
      <ion-chip *ngIf="contract.seekingLowestOffer" color="danger">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
        <ion-label>seeking lowest bid</ion-label>
      </ion-chip>
      <p class="pull-right">{{ timeFromNow(contract.lastUpdatedDate) }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

