<app-header subtitle="Inquiries" subtitleIcon="help-buoy-outline"></app-header>
<ion-content>
  <ion-card *ngFor="let contract of contracts">
    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>     
        <ion-chip>
          <ion-avatar>
            <img [src]="getUserProfileImage(contract.contracteeId)">
          </ion-avatar>
          <ion-label>{{ getUsername(contract.contracteeId) }}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button [routerLink]="['/marketboard/contract']" [queryParams]="{ id: contract.id }" slot="end">
        View
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <h2>{{ contract.subject }} <p>{{ contract.body }}</p></h2>
      <p class="pull-right">{{ timeFromNow(contract.createdDate) }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

