<app-header subtitle="Inquiries" subtitleIcon="help-buoy-outline"></app-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>     
        <ion-chip>
          <ion-avatar>
            <img src="https://robohash.org/shahidfoy?set=set1">
          </ion-avatar>
          <ion-label>someone</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button color="light" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content about your inquiry
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>     
        <ion-chip>
          <ion-avatar>
            <img src="https://robohash.org/shahidfoy?set=set1">
          </ion-avatar>
          <ion-label>someone</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button color="light" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content about your inquiry
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>     
        <ion-chip>
          <ion-avatar>
            <img src="https://robohash.org/shahidfoy?set=set1">
          </ion-avatar>
          <ion-label>someone</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button color="light" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content about your inquiry
    </ion-card-content>
  </ion-card>
</ion-content>

