<ion-header>
  <ion-toolbar> 
    <ion-title>
      Edit Profile
      <div class="close" (click)="dismiss()">
        x
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Update your profile info:</h2>

  <form #editProfileForm="ngForm" (ngSubmit)="editUserProfile(editProfileForm.value)">

    <ion-item>
      <ion-label>Username </ion-label>
      <ion-input type="text" name="username" [(ngModel)]="usernameInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>First name </ion-label>
      <ion-input type="text" name="firstName" [(ngModel)]="firstNameInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last name </ion-label>
      <ion-input type="text" name="lastName" [(ngModel)]="lastNameInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email </ion-label>
      <ion-input type="email" name="email" [(ngModel)]="emailInput"></ion-input>
    </ion-item>

    <ion-item>
      <!-- TODO:: MAYBE ADD FEATURE TO UPLOAD PROFILE IMAGES -->
      update profile image.
    </ion-item>

    <ion-button
      [disabled]="editProfileForm.invalid || isLoading"
      type="submit"
      name="button"
      expand="block">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Update</span>
    </ion-button>
  </form>
  
  <h2>Settings:</h2>
  <div class="edit-button-group">
    <ion-item>
      <p class="dark-mode">Dark Mode: </p>
      <ion-toggle #darkModeToggle class="pull-right" (ngModelChange)="toggleDarkTheme()" id="themeToggle" slot="end" [(ngModel)]="isDarkMode"></ion-toggle>
    </ion-item>
    <ion-button size="small" color="danger">Delete Account</ion-button>
  </div>
</ion-content>
